mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  /* Using 100vh causes double scrollbars to appear on some devices */
  height: calc(100vh - 116px);
}

mat-sidenav-container {
  padding-bottom: 10px;
}

mat-sidenav {
  width: 265px;
}

mat-nav-list {
  padding-top: 0;
}
